@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");

.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.timerButtonsContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: relative;
}

.timeText {
  margin-top: -10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 5em;
  font-family: "Ubuntu Mono", monospace;
}

.roomText {
  margin-top: 5px;
  margin-bottom: 5px;
}
