.TimerContainer {
  margin: 10px;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TimerButtonsContainer {
  display: flex;
  margin: auto;
  padding: 10px;
  width: 100%;
  justify-content: space-evenly;
}

.timer {
  font-size: large;
  font-weight: bold;
}
