.TimerContainer {
  margin: 10px;
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TimerButtonsContainer {
  display: flex;
  margin: auto;
  padding: 10px;
  width: 100%;
  justify-content: space-evenly;
}

.timeText{
  font-weight: bold;
  font-size: 200%;
}
