@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Josefin+Slab&family=Open+Sans&family=Poppins&display=swap");
* {
  box-sizing: border-box;
  font-size: 1.01em;
  font-family: "Poppins", sans-serif;
}

.main-div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./images/fed1.png);
  background-size: cover;
  padding: 30px;
  overflow: hidden;
}

.timer-div {
  position: absolute;
  top: 25%;
  width: 60%;
  left: -25%;
  min-width: 40em;
}

.data-div {
  position: absolute;
  bottom: 5%;
  width: 30%;
  right: -10%;
}

.timer-div .paperContainer {
  padding-left: 45%;
  padding-right: 2%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
}

.data-div .paperContainer {
  padding-right: 37%;
  padding-left: 4%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
}

.timer-div .paperContainer p {
  text-align: right;
}

.MuiButton-label {
  text-align: right;
}

.data-div .paperContainer p {
  text-align: left;
}

.title {
  font-family: "Josefin Slab", serif;
  font-size: 1.6em;
  font-weight: bolder;
}

.timer-div .title {
  font-weight: 900;
}
